<%- include('../partials/header') %>

<p>Below is a list of all flight details</p>

<ul>
    <% flights.forEach(function(flight){%>
        <li> Airline: <%= flight.airline %> | No: <%= flight.flightNo %><a href="/flights/<%= flight._id %>"> Details</a></li>
    <%}); %>
</ul>

<%- include('../partials/footer') %>