<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
  <div>Destination: </div>
  <div><%= flight.destination %></div>
  <!-- start cast list -->

  <!-- end cast list -->
</section>

    <!-- <form action="/flights/<%= flight._id %>?_method=PUT" method="POST"> -->
    <label> Add destination </label>
    <select name="arrivalAirport">
      <option name="LAX">LAX</option>
      <option name="LHR">LHR</option>
      <option name="CDG">CDG</option>
      <option name="MAD">MAD</option>
      <option name="SVQ">SVQ</option>
    </select>
    <label> Arrival date </label>
    <input type="date" name="arrival">

    <input type="submit" value="Add Destination">
    </form>
</form>
<%- include('../partials/footer') %>