<%- include('../partials/header') %>

<section id="show-page">
  <div><strong>Airline: </strong></div>
  <div><%= flight.airline %></div>
  <div><strong>Airport: </strong></div>
  <div><%= flight.airport %></div>
  <div><strong>Flight number: </strong></div>
  <div><%= flight.flightNo %></div>
  <div><strong>Departs: </strong></div>
  <div><%= flight.departs %></div>
  <div><strong>Destination: </strong></div>
  <div><%= flight.destination %></div>
  <!-- start cast list -->

  <!-- end cast list -->
</section>

    <!-- <form action="/flights/<%= flight._id %>?_method=PUT" method="POST"> -->
    <label> Add destination </label>
    <select name="arrivalAirport">
      <option name="LAX">LAX</option>
      <option name="LHR">LHR</option>
      <option name="CDG">CDG</option>
      <option name="MAD">MAD</option>
      <option name="SVQ">SVQ</option>
    </select>
    <label> Arrival date </label>
    <input type="date" name="arrival">

    <input type="submit" value="Add Destination"> <br>

    <label> Ticket </label>
    <input name ="seat" required pattern="[A-F] [1-9]\d?">
    <input type="submit" value="Add ticket"> <br>
    </form>
</form>
<%- include('../partials/footer') %>